@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: auto;
    size: A4 portrait;
    margin: 0 -6cm;
  }

  html {
    margin: 0 6cm;
  }

  b {
    font-weight: 700;
  }
}

/* th sarabun font */
@font-face {
  font-family: "TH SarabunPSK";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/THSarabun.woff2") format("woff2");
}

@font-face {
  font-family: "TH SarabunPSK";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/THSarabun Bold.woff2") format("woff2");
}

@font-face {
  font-family: "TH SarabunPSK";
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/THSarabun Italic.woff2") format("woff2");
}

@font-face {
  font-family: "TH SarabunPSK";
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/THSarabun Bold Italic.woff2") format("woff2");
}
